/* PHASE 2: Notifications */

.w3-badge {
  border-radius: 50%;
  background-color: black;
  padding: 1px 6px;
  position: relative;
  display: inline;
  font-size: 14px;
}
/* .badge {
  border-radius: 2px;
  background-color: blue;
  padding: 15px 26px;
  position: relative;
  display: inline;
} */

