<h1>Cats</h1>

<ul>
    <% @cats.each do |cat| %>
        <ul>
            
            <li> <a href = <%= cat_url(cat) %> > <%= cat.name %> </a> </li>
            <br/>
        </ul>
    <% end %>
</ul>